<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>

    <!-- Header section -->

    <header class="header">
        <div class="icon">
            <h2 class="logo">EduLift</h2>
        </div>
        <div class="ul">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'course' %}">Courses</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'take_note' %}">Take Notes</a></li>
            </ul>
        </div>
    </header>

    <!-- Main section -->

    <section id="about" class="section">
        <div class="container">
            <h3>About Us</h3>
            <p>
                EduLift committed to making learning seamless, engaging, and accessible for students pursuing a B.Sc. in Computer Science (CSE).
                Our platform offers expertly curated courses designed to bridge the gap between theoretical knowledge and practical application,
                ensuring that learners gain the skills needed to excel in the tech industry.Beyond courses, we provide interactive learning tools such as our TakeNote feature,which allows students to capture and organize key insights effortlessly Additionally, our blog serves as a hub for industry trends, coding tips, career guidance, and academic resources,helping students stay informed and ahead of the curve.<br>
                Join our growing community and take your learning experience to the next level—anytime, anywhere! 
            </p>
        </div>
    </section>
    <a href="{% url 'home' %}">
</body>
</html>

