<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <header class="header">
        <div class="icon">
            <h2 class="logo">EduLift</h2>
        </div>
        <div class="ul">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'course' %}">Courses</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'take_note' %}">Take Notes</a></li>

                <!-- <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="course.html">Courses</a></li>
                <li><a href="blog.html">Blogs</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="take_note.html">Take Notes</a></li> -->
            </ul>
        </div>
    </header>
   

    <section id="about" class="section">
        <div class="container">
            <h3>About Us</h3>
            <p>
                EduLift is dedicated to provide the learning resources in Computer Science & Engineering.<br>
                With lecture video tutorial playlist and other website platform for
                learners of all levels.
            </p>
        </div>
    </section>
    <a href="{% url 'home' %}">
</body>
</html>

