<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Page</title>
    <link rel="stylesheet" href="/static/blog.css">
</head>
<body>
    <header class="header">
        <div class="icon">
            <h2 class="logo">EduLift</h2>
        </div>
        <div class="ul">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'course' %}">Courses</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'take_note' %}">Take Notes</a></li>
            </ul>
        </div>
    </header>
   
    <section id="blog" class="section">
        <section class="edu_blog_h1">
            <h1>EduLift Blogs</h1>
        </section>
        <section class="blog-post">
            <h2>5 Tips for Effective Learning</h2>
            <p>Discover practical tips to enhance your learning experience and achieve your goals.</p>
            <a href="https://www.linkedin.com/pulse/5-tips-effective-listening-jason-powers-cfa-cfe">Read More</a>
        </section>

        <section class="blog-post">
            <h2>The Importance of Lifelong Education</h2>
            <p>Explore why continuous learning is crucial in today’s fast-changing world.</p>
            <a href="https://online.jwu.edu/blog/lifelong-learning-what-it-is-and-why-it-matters/">Read More</a>
        </section>

        <section class="blog-post">
            <h2>Top 10 Programming Languages in 2025</h2>
            <p>Stay ahead of the curve by learning the most in-demand programming languages.</p>
            <a href="https://www.pluralsight.com/resources/blog/upskilling/top-programming-languages-2025">Read More</a>
        </section>

        <section class="blog-post">
            <h2>Balancing Work and Study</h2>
            <p>Learn how to manage your time effectively while pursuing education and career goals.</p>
            <a href="http://czechuniversities.com/article/how-to-maintain-a-work-study-life-balance-2">Read More</a>
        </section>
    </section>

    <a href="{% url 'home' %}">
</body>
</html>