<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>

    <!-- Header section -->

    <header class="header">
        <div class="icon">
            <h2 class="logo">EduLift</h2>
        </div>
        <div class="ul">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'course' %}">Courses</a></li> 
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'take_note' %}">Take Notes</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section id="home" class="section">
            <div class="container">
                <h4><em>Enhance the learning experience with <bold>EduLift</bold></em></h4>
                <div class="log">
                    <p><i>Log in this site and enroll our courses for better learn</i></p>
                </div>
            </div>
        </section>
    
        <!-- Features Section  -->

        <section id="features" class="section">
            <div class="container">
                <h2>Why Choose <strong>EduLift?</strong></h2>
                <div class="features-grid">
                    <div class="feature">
                        <h3> Interactive Learning</h3>
                        <p>Can take note as your need for improve your learning activity.</p>
                    </div>
                    <div class="feature">
                        <h3>Various Resources</h3>
                        <p>Various course resources are available simultaneously.</p>
                    </div>
                    <div class="feature">
                        <h3>Write blog </h3>
                        <p>write blog in different type of study topics .</p>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- call to registration -->

        <section id="cta" class="section">
            <div class="container">
                <h2>Start Your Learning Journey Today!</h2>
                <p>Join our course for enhance your skills with EduLift.</p>
                <a href="{% url 'registration' %}">Join Now</a>
            </div>
        </section>
    </main>
</body>
</html>