body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: purple;
    color: #fff;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 45px;
    font-weight: bold;
}

.ul ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.ul ul li {
    margin: 0 15px;
}

.ul ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.ul ul li a:hover {
    color: #ffd700;
}
/* Home Section */

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/static/image/homepage_background_image.jpg.jpeg') no-repeat center center/cover;
    text-align: center;
    color: #fff;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

h4 bold {
    font-weight: bold;
    color: #ffd900;
}

.log p {
    font-size: 14px;
}

.log a {
    text-decoration: underline;
    color: #ffd900;
    font-weight: bold;
}

.log a:hover {
    color: #fff;
}

