body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f7f7f7;
    color: #333;
}

/* header section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: purple;
    color: #fff;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 45px;
    font-weight: bold;
}

.ul ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.ul ul li {
    margin: 0 15px;
}

.ul ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.ul ul li a:hover {
    color: #ffd700;
}

/* Blog Section */

#blog{
    background-color: #fff;
    padding: 80px 20px;
    text-align: center;
}
.edu_blog_h1 h1 {
    font-size: 36px;
    color: #4b0082;
    margin-bottom: 40px;
    font-weight: bold;
}
.blog-post {
    background: rgba(221, 160, 221, 0.735);
    max-width: 700px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
}
.blog-post h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.blog-post p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}
.blog-post a {
    display: inline-block;
    text-decoration: none;
    background-color: #4b0082;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.blog-post a:hover {
    background-color: #555;
}
