*{
    margin: 0;
    padding: 0;
}
.c1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background : url("./image/dark.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
}
.nav
{
    width: 1200px;
    height: 800px;
    margin: auto;

}
.icon
{
    width: 200px;
    height: 70px;
    float: left;
}
.logo
{
    color: #fff;
    font-size: 65px;
    padding-left: 25px;
    padding-right: 1050px;
    float: left;
    padding-top: 20px;
}
.ul
{
    width: 300px;
    height: 75px;
    float: left;
}
ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li
{
    list-style: none;
    margin-top: 45px;
    margin-left: 80px;
    font-size: 18px;
    padding-left: 120px;
    padding-right: 15px;
}
ul li a 
{
    text-decoration: none;
    color: #fff;
}
li a:hover{
    text-decoration: underline;
}
.main
{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.main h4
{
    padding-left: 5px;
    letter-spacing: 2px;
    font-size: 50px;
    margin-top: 30%;

}
.log
{
    width: 400px;
    height: auto;
    margin: auto;
    color: #fff;

}
.log p
{
    padding-left: 8px;
    letter-spacing: 2px;
    font-size: 18px;
    margin-top: 15%;

}
.log p a 
{
    width: 100%;
    height: 48px;
    background:transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    /* border-radius: 25px; */
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
