* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.c1 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

.user input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 10px 0;
}

.remember label {
    color: #fff;
}

.remember a {
    text-decoration: none;
    color: #4b0082;
}

.remember a:hover {
    color: #fff;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover {
    background-color:  #6c0082;
}
.reg {
    margin-top: 10px;
}

.reg p {
    color: #fff;
    font-size: 14px;
}

.reg a {
    color:  #4b0082;
    font-weight: bold;
    text-decoration: none;
}

.reg a:hover {
    color: #fff;
}
