<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/static/course.css">
</head>
<body>
    <header class="header">
        <div class="icon">
            <h2 class="logo">EduLift</h2>
        </div>
        <div class="ul">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="course.html">Courses</a></li>
                <li><a href="blog.html">Blogs</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="take_note.html">Take Notes</a></li>
            </ul>
        </div>
    </header>
    
    <section id="course_page" class="section">

        <div class="head">
            <h1 class="logo">EduLift - Courses</h1>
        </div>
    
        <div class="container">
            <div class="course">
                <h3>Structured programming language </h3>
                <p>Structured programming is a programming paradigm that encourages the use of structured control flow constructs to improve code readability. </p>
                <a href="#">Learn More</a>
            </div>
    
            <div class="course">
                <h3>Data Structure</h3>
                <p>Data structures are fundamental components in computer science that define how data is organized, stored, and manipulated within a program. </p>
                <a href="#">Learn More</a>
            </div>
    
            <div class="course">
                <h3>Algorithm</h3>
                <p>Algorithm is a set of finite rules or instructions to be followed in calculations or other problem-solving operations </p>
                <a href="#">Learn More</a>
            </div>
    
            <div class="course">
                <h3>Object Oriented programming</h3>
                <p>Object-oriented programming aims to implement real-world entities like inheritance, hiding, polymorphism, etc in programming. </p>
                <a href="#">Learn More</a>
            </div>
    
            <div class="course">
                <h3>Database Management System</h3>
                <p>Database Management System or DBMS in short refers to the technology of storing and retrieving users' data with utmost efficiency along with appropriate security measures.</p>
                <a href="#">Learn More</a>
            </div>
    
            <div class="course">
                <h3>Software Engineering</h3>
                <p>Software Engineering is a systematic and disciplined approach to the design, development, testing, and maintenance of software.</p>
                <a href="#">Learn More</a>
            </div>
    
            <div class="course">
                <h3>Operating system</h3>
                <p>An Operating System(OS) is a software that manages and handles hardware and software resources of a computing device.</p>
                <a href="#">Learn More</a>
            </div>
    
        </div>
    </section>
</body>
</html>