<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="c1">
        <div class="nav">
            <div class="icon">
                <h2 class="logo">EduLift</h2>
            </div>
            <div class="ul">
                <ul>
                    <li><a href="/static/home.css">Home</a></li>
                    <li><a href="/static/about.css">About</a></li>
                    <li><a href="/static/course.css">Courses</a></li>
                    <li><a href="/static/blog.css">Blogs</a></li>
                    <li><a href="/static/profile.css">Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="main">
            <h4><em>Enhance the learning experience with <bold>EduLift</bold></em></h4>

            <div class="log">
                <p><i>Log in this site and enroll our courses for better learn</i> <a href="/static//login.css">log in</a></p>
            </div>
        </div>
        
       
    </div>
</body>
</html>