<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="c1">
        <div class="nav">
            <div class="icon">
                <h2 class="logo">EduLift</h2>
            </div>
            <div class="ul">
                <ul>
                    <li><a href="{% static 'home.html'%}">Home</a></li>
                    <li><a href="{% static 'about.html'%}">About</a></li>
                    <li><a href="{% static 'course.html'%}">Courses</a></li>
                    <li><a href="{% static 'blog.html'%}">Blogs</a></li>
                    <li><a href="{% static 'profile.html'%}">Profile</a></li>
                </ul>
            </div>
        </div>
        <div class="main">
            <h2>Profile</h2>
        </div>
    </div>
</body>
</html>