<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="/static/registartion.css">
</head>
<body>
    <div class="c1">
        <form method="post" action="./?next={{redirect_to}}"></form>
            <h2>Registration </h2>
            <div class="user">
               <input type="text" name="username" placeholder="Your name" required>
            </div>
            <div class="user">
                <input type="password" name="password" placeholder="Your Password" required>
             </div>
             <div class="user">
                <input type="password" name="password" placeholder="Confirm Password" required>
             </div>
             
             <div class="user">
                <input type="email" name="email" placeholder="Your Email" required>
             </div>

            <button class="button" type="submit" ><a href="/static/home.css" style="text-decoration: none;">Registration</a></button>
        </form>
    </div>
    
</body>
</html>